{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en"
      class="{% if request.session.is_dark_mode %}dark{% endif %} ">
  <head>
    <title>Django Tailwind |
      {% block title %}
      {% endblock title %}
    </title>
    <meta name="description"
          content="A Django application styled with Tailwind CSS. Build responsive, mobile-first projects on the web with this front-end toolkit.">
    <meta name="keywords"
          content="Django, Tailwind CSS, web development, responsive design, mobile-first, frontend, toolkit">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
  </head>
  <body class="bg-gray-50 dark:bg-slate-800 dark:text-white">
    <div class="grid grid-cols-12">
      <div class="col-span-12">
        <div class="pt-20 px-6">
          <a href="{% url 'change' %}">Change Theme</a>
          {% block content %}
          {% endblock content %}
        </div>
      </div>
    </div>
  </body>
</html>
